@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(45deg, #251351 0%, #040926 100%);
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;
  width: 98em;
  height: 52em;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
}

.App::after {
  position: absolute;
  content: "";
  height: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background: linear-gradient(to bottom, rgba(37, 19, 81, 0) 0%, #040926 100%);
  pointer-events: none;
}

.Header {
  background: rgba(0, 0, 0, 0.45);
  height: 80px;
  min-height: 80px;
}

.Search {
  padding: 24px;
}

.Search .SearchField {
  padding: 10px;
  padding-top: 0;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 24px;
  text-align: center;
  outline: none;
  font-weight: 300;
  background: transparent;
  color: white;
  transition: border 0.125s ease;
}

.Search .SearchField:focus {
  border-bottom: 1px solid white;
}

.Results {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  height: calc(100% - 60px);
  color: white;
  background: rgba(0, 0, 0, 0.45);
  overflow: scroll;
}

.Result {
  margin: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 45%;
  max-height: 999px;
}


/* .Result:nth-child(3n+2) .Icon {
  -webkit-animation-delay: 2.5s;
} */

.Result[data-type="unknown"] .Icon {
  background: black;
}

.Result[data-type="Asia"] .Icon {
  background: #fe621d;
}

.Result[data-type="Africa"] .Icon {
  background: #ffd402;
}

.Result[data-type="Europe"] .Icon {
  background: #511a93;
}

.Result[data-type="Oceania"] .Icon {
  background: #1ceab0;
}

.Result[data-type="Americas"] .Icon {
  background: #b70000;
}

.Result[data-type="Polar"] .Icon {
  background: #93fc00;
}

.Result[data-type=""] .Icon {
  background: #cc4360;
}

.Result[data-type="actinoid"] .Icon {
  background: #5c4d75;
}

@keyframes icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.Icon {
  position: relative;
  margin-right: 20px;
  padding: 40px;
  height: 120px;
  width: 180px;
  overflow: hidden;
}

.Icon:hover {
  animation: icon 1s ease-in-out;
  animation-fill-mode: forwards;  
  cursor: pointer;
}
.Icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.125) 100%);
}

.Icon * {
  position: relative;
}

.Icon .Number,
.Icon .Mass {
  font-size: 12px;
}

.Icon .Number {
  margin-bottom: 10px;
}

.Icon .Symbol {
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: bold;
}

.Icon .Name {
  margin-bottom: 10px;
  font-size: 14px;
}

.Title {
  width: 40%;
  font-size: 24px;
  font-weight: 300;
}